<div class="container">
  <h5 class="m-4">会員編集</h5>
  <div class="row justify-content-center">
    <%= form_with model: @customer, url:my_page_path, method: :patch do |f| %>
      <div class="form-group row">
        <%= f.label :氏名, class:"col-sm-5 text-right" %>
        <%= f.text_field :name, class:"col-sm-7 form-control", placeholder:"山田太郎" %>
      </div>
      <div class="form-group row">
        <%= f.label :フリガナ, class:"col-sm-5 text-right" %>
        <%= f.text_field :kana_name, class:"col-sm-7 form-control", placeholder:"ヤマダタロウ" %>
      </div>
      <div class="form-group row">
        <%= f.label :〒, class:"col-sm-5 text-right" %>
        <%= f.text_field :zipcode, class:"col-sm-7 form-control", placeholder:"0000000" %>
      </div>
      <div class="form-group row">
         <%= f.label :住所, class:"col-sm-5 text-right" %>
         <%= f.text_field :address, class:"col-sm-7 form-control", placeholder:"東京都○○区○○町0-0" %>
      </div>
      <div class="form-group row">
        <%= f.label :TEL,"TEL", class:"col-sm-5 text-right" %>
        <%= f.text_field :phone_number, class:"col-sm-7 form-control", placeholder:"0000000000" %>
      </div>
      <div class="form-group row">
        <%= f.label :"E-mail", class:"col-sm-5 text-right" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"col-sm-7 form-control" %>
      </div>
      <div class="actions text-center">
        <%= f.submit "編集", class:"btn btn-success m-3" %>
        <%= link_to "戻る", my_page_path, class:"btn btn-primary m-3" %>
      </div>
    <% end %>
  </div>
</div>