<div class="container">
  <h5 class="m-3">会員マイページ</h5>
  <div class="text-center m-2">
    <%= alert %><%#ゲストユーザーは編集できない%>
  </div>
    <table class="table row justify-content-center">
      <tr>
        <th>氏名</th>
        <td><ruby><%= @customer.name %><rt><%= @customer.kana_name %></rt></ruby></td>
      </tr>
      <tr>
        <th>E-mail</th>
        <td><%= @customer.email %></td>
      </tr>
      <tr>
        <th>住所</th>
        <td>
          〒<%= @customer.zipcode %><br>
          <%= @customer.address %>
        </td>
      </tr>
      <tr>
        <th>TEL</th>
        <td><%= @customer.phone_number %></td>
      </tr>
    </table>
    <div class="row justify-content-center">
      <%= link_to "編集する", edit_information_path, class:"btn btn-success mr-3" %>
      <%= link_to "退会する", unsubscribe_path, class:"btn btn-danger ml-3" %>
    </div>
    <div class="row justify-content-end mr-5">
      <%= link_to "お気に入りの投稿を見る>>", favorites_path %>
    </div>
  </div>
</div>