<div class="container">
  <h5 class="m-3">退会確認画面</h5>
  <div class="row justify-content-center" style="margin-bottom:3rem;">
    <strong>退会する前に、以下のチェック項目をご確認ください。</strong>
  </div>
  <div class="row justify-content-start" style="margin-left:13rem;">
    <%#チェック項目%>
    <div>
      <%= check_box_tag :confim %>
      <%= label_tag :confim, "予約一覧のステータスが全て「来店済」、もしくは「不可」になっているかをご確認ください。" %>
    </div>
    <div>
      <%= check_box_tag :confim %>
      <%= label_tag :confim, "予約一覧のステータスが「未承認」のものは、キャンセルしてから退会してください。" %>
    </div>
    <div>
      <%= check_box_tag :confim %>
      <%= label_tag :confim, "予約一覧のステータスが「承認」になっている場合、予約した飲食店をご利用してから退会してください。" %>
    </div>
    <div>
      <%= check_box_tag :confim %>
      <%= label_tag :confim, "退会後は現在ご使用のアカウントでログインができなくなります。もう一度登録することで再度利用できるようになります。" %>
    </div>
  </div>
  <div class="row justify-content-center m-5">
    <%= link_to "退会", customers_path, method: :delete, "data-confirm" => "本当に退会しますか？", class:"btn btn-danger mr-3" %>
    <%= link_to "戻る", my_page_path, class:"btn btn-primary ml-3" %>
  </div>
</div>