<div class="container">
  <div class="row d-flex">
    <h5 class="col-sm-3 m-3">投稿一覧</h5>
    <%#絞り込み検索フォーム%>
    <div class="col-sm-8 m-3 text-right">
      <%= search_form_for @q, url:posts_search_path do |f| %>
        <%= f.label :"ジャンル検索" %>
        <%= f.select :restaurant_genre_eq, [["カフェ・スイーツ"], ["和食"], ["洋食"], ["中華"], ["アジア・エスニック"], ["イタリアン"], ["カレー"], ["居酒屋・バー"],["その他"]], { include_blank: "選択してください"} %>
        <%= f.submit '検索' %>
      <% end %>
    </div>
  </div>
  <div class="row justify-content-center">
    <%= render 'index', posts: @posts %>
  </div>
  <%#ページネーション%>
  <div class="row justify-content-center">
    <%= paginate @posts, theme: 'twitter-bootstrap-4' %>
  </div>
</div>