<tr>
  <th style="width: 20%">店舗名</th>
  <td><%= restaurant.name %></td>
</tr>
<tr>
  <th>ジャンル</th>
  <td><%= restaurant.genre %></td>
</tr>
<tr>
  <th>住所</th>
  <td>〒<%= restaurant.zipcode %><br>
      <%= restaurant.address %>
  </td>
</tr>
<tr>
  <th>TEL</th>
  <td><%= restaurant.phone_number %></td>
</tr>
<tr>
  <th>E-mail</th>
  <td><%= restaurant.email %></td>
</tr>
<tr>
  <th>営業時間</th>
  <td><%= restaurant.start_time.strftime('%H:%M') %>～<%= restaurant.finish_time.strftime('%H:%M') %></td>
</tr>
<% if restaurant.regular_holiday.present? %><%#定休日なければ非表示%>
  <tr>
    <th>定休日</th>
    <td><%= restaurant.regular_holiday %></td>
  </tr>
<% end %>
<% if restaurant.web_site.present? %><%#Webサイトなければ非表示%>
  <tr>
    <th>URL</th>
    <td><%= Rinku.auto_link(restaurant.web_site, :all, 'target="_blank"').html_safe %></td>
  </tr>
<% end %>
<% if restaurant.notice.present? %><%#注意事項なければ非表示%>
  <tr>
    <th>お客様へ</th>
    <td><%= restaurant.notice %></td>
  </tr>
<% end %>