<div class="container">
  <h5 class="m-3">飲食店側予約詳細</h5>
  <div class="row justify-content-center">
    <table class="table-borderless m-5">
      <tr>
        <th class="col">氏名</th>
        <td><%= @reservation.customer.last_name %><%= @reservation.customer.first_name %></td>
      </tr>
      <tr>
        <th class="col">メールアドレス</th>
        <td><%= @reservation.customer.email %></td>
      </tr>
      <tr>
        <th class="col">電話番号</th>
        <td><%= @reservation.customer.phone_number %></td>
      </tr>
      <tr>
        <th class="col">予約人数</th>
        <td><%= @reservation.number_of_people %>名</td>
      </tr>
      <tr>
        <th class="col">予約時間</th>
        <td><%= @reservation.reservation_time.strftime('%Y/%m/%d %H:%M') %></td>
      </tr>
    </table>
  </div>
  <div class="row justify-content-center">
    <%= form_with model: [:restaurant, @reservation], url: restaurant_update_reservation_path(@reservation), method: :patch, local: true do |f| %>
      <%= f.radio_button :approval_status, :approved, checked: true %>
      <%= f.label :approval_status, "承認する" %>
      <%= f.radio_button :approval_status, :impossible, class:"ml-3" %>
      <%= f.label :approval_status, "拒否する" %><br>
  </div>
  <div class="row justify-content-center">
    <%= f.submit "送信する" %>
    <% end %>
  </div>
</div>