<div class="container">
  <h5 class="m-3">飲食店予約一覧</h5>
  <div class="row justify-content-center">
    <% if @reservations.exists? %>
      <table class="table col-sm-10">
        <thead>
          <th>氏名</th>
          <th>予約人数</th>
          <th>予約時間</th>
          <th>ステータス</th>
          <th>予約を受けた日時</th>
          <th>詳細</th>
        </thead>
        <% @reservations.each do |reservation| %>
          <tbody>
            <td><%= reservation.customer.name %></td>
            <td><%= reservation.number_of_people %></td>
            <td><%= reservation.reservation_time.strftime('%Y/%m/%d %H:%M') %></td>
            <td><%= reservation.approval_status_i18n %></td>
            <td><%= reservation.created_at.strftime('%Y/%m/%d %H:%M') %></td>
            <td><%= link_to "詳細", restaurant_reserve_detail_path(reservation) %></td>
          </tbody>
        <% end %>
      </table>
    <% end %>
  </div>
  <%#ページネーション%>
  <div class="row justify-content-center mb-5">
    <%= paginate @reservations, theme: 'twitter-bootstrap-4' %>
  </div>
</div>