<div class="container">
  <h5 class="m-3">予約詳細</h5>
  <div class="row justify-content-center">
    <table class="table-borderless m-5">
      <tr>
        <th style="width: 50%">お客様名</th>
        <td><ruby><%= @reservation.customer.name %><rt><%= @reservation.customer.kana_name %></rt></ruby></td>
      </tr>
      <tr>
        <th>E-mail</th>
        <td><%= @reservation.customer.email %></td>
      </tr>
      <tr>
        <th>TEL</th>
        <td><%= @reservation.customer.phone_number %></td>
      </tr>
      <tr>
        <th>予約人数</th>
        <td><%= @reservation.number_of_people %>名</td>
      </tr>
      <tr>
        <th>予約時間</th>
        <td><%= @reservation.reservation_time.strftime('%Y年%m月%d日 %H:%M') %></td>
      </tr>
      <tr>
        <th>備考</th>
        <td><%= @reservation.note %></td>
      </tr>
      <tr>
        <th>ステータス</th>
        <td><%= @reservation.approval_status_i18n %></td>
      </tr>
    </table>
  </div>
  <div class="row justify-content-center">
    <%#未承認の場合ラジオボタンで承認or拒否を選択%>
    <% if @reservation.approval_status == "unapproved" %>
      <%= form_with model: [:restaurant, @reservation], url: restaurant_update_reservation_path(@reservation), method: :patch, local: true do |f| %>
        <%= f.radio_button :approval_status, :approved, checked: true %>
        <%= f.label :approval_status, "承認する" %>
        <%= f.radio_button :approval_status, :impossible, class:"ml-3" %>
        <%= f.label :approval_status, "拒否する" %><br>
      <div class="row justify-content-center">
        <%= f.submit "送信する", "data-confirm" => "本当に送信してもよろしいですか？", class:"button_custom btn btn-success" %>
      <% end %>
      </div>
    <%#承認済から来店済に変更する場合%>
    <% elsif @reservation.approval_status == "approved" %>
      <%= form_with model: [:restaurant, @reservation], url: restaurant_update_reservation_path(@reservation), method: :patch, local: true do |f| %>
        <%= f.hidden_field :approval_status, :value => "visited" %>
        <%= f.submit "来店済", "data-confirm" => "お客様のご来店を確認しました。", class:"btn btn-success" %>
      <% end %>
    <% end %>
  </div>
</div>