<%#飲食店一覧ページと検索結果ページ%>
<table class="table col-sm-10">
  <thead>
    <tr>
      <th>店名</th>
      <th>住所</th>
      <th>ジャンル</th>
      <th>営業時間</th>
      <th>詳細</th>
    </tr>
  </thead>
  <% restaurants.each do |restaurant| %>
    <tbody>
      <%#行全体をリンクにする%>
      <tr class="index" onclick='window.location="<%= restaurant_path(restaurant) %>"' role="link">
        <td><%= restaurant.name %></td>
        <td><%= restaurant.address %></td>
        <td><%= restaurant.genre %></td>
        <td><%= restaurant.start_time.strftime('%H:%M') %>～<%= restaurant.finish_time.strftime('%H:%M') %></td>
        <td><%= link_to "詳細", restaurant_path(restaurant) %></td>
      </tr>
    </tbody>
  <% end %>
</table>