<div class="container">
  <div class="row d-flex">
    <h5 class="col-sm-3 m-3">検索結果</h5>
    <div class="col-sm-8 m-3 text-right">
      <%#飲食店検索フォーム%>
      <%= search_form_for @q, url: search_restaurants_path do |f| %>
        <%= f.label :name_cont, 'キーワード検索' %>
        <%= f.search_field :name_or_genre_or_address_cont %>
        <%= f.submit '検索' %>
      <% end %>
    </div>
  </div>
  <div class="row justify-content-center">
    <%#検索結果一覧%>
    <%= render 'index', restaurants: @restaurants %>
  </div>
  <%#ページネーション%>
  <div class="row justify-content-center">
    <%= paginate @restaurants, theme: 'twitter-bootstrap-4' %>
  </div>
</div>