<div class="container">
  <h5 class="mt-3">予約一覧</h5>
  <div class="row justify-content-center">
    <% if @reservations.exists? %>
      <table class="table col-sm-10">
        <thead>
          <th>予約したお店</th>
          <th>予約人数</th>
          <th>予約時間</th>
          <th>ステータス</th>
          <th>予約した日時</th>
        </thead>
        <% @reservations.each do |reservation| %>
          <tbody>
            <tr class="index" onclick='window.location="<%= restaurant_reservation_path(reservation.restaurant, reservation) %>"' role="link">
              <td><%= reservation.restaurant.name %></td>
              <td><%= reservation.number_of_people %></td>
              <td><%= reservation.reservation_time.strftime('%Y/%m/%d %H:%M') %></td>
              <td><%= reservation.approval_status_i18n %></td>
              <td><%= reservation.created_at.strftime('%Y/%m/%d %H:%M') %></td>
            </tr>
          </tbody>
        <% end %>
      </table>
    <% end %>
  </div>
  <%#ページネーション%>
  <div class="row justify-content-center">
    <%= paginate @reservations, theme: 'twitter-bootstrap-4' %>
  </div>
</div>