<div class="container">
  <h5 class="m-3">予約詳細</h5>
  <div class="row justify-content-center">
    <table class="table-borderless m-5">
      <tr>
        <th class="col">氏名</th>
        <td><%= current_customer.last_name %><%= current_customer.first_name %></td>
      </tr>
      <tr>
        <th class="col">メールアドレス</th>
        <td><%= current_customer.email %></td>
      </tr>
      <tr>
        <th class="col">電話番号</th>
        <td><%= current_customer.phone_number %></td>
      </tr>
      <tr>
        <th class="col">予約人数</th>
        <td><%= @reservation.number_of_people %>名</td>
      </tr>
      <tr>
        <th class="col">予約時間</th>
        <td><%= @reservation.reservation_time.strftime('%Y/%m/%d %H:%M') %></td>
      </tr>
      <tr>
        <th class="col">ステータス</th>
        <td><%= @reservation.approval_status_i18n %></td>
      </tr>
    </table>
  </div>
  <div class="row justify-content-center">
    <%#承認ステータスが未承認の場合のみキャンセルボタン表示%>
    <% if @reservation.approval_status == "unapproved" %>
      <%= link_to "キャンセルする", restaurant_destroy_reservations_path(@reservation.id), method: :delete, "data-confirm" => "本当にキャンセルしますか？", class:"btn btn-danger" %>
    <% elsif @reservation.approval_status == "impossible" %>
      <p>申し訳ございません。予約をお受けすることができませんでした。</p>
    <% end %>
  </div>
</div>