<div class="container">
  <h5 class="m-3">投稿一覧</h5>
  <div class="row justify-content-center">
    <div class="post-index">
      <% @posts.each do |post| %>
        <%= link_to restaurant_post_path(post) do %>
          <div class="card mb-2" style="width: 20rem;">
            <%#写真があれば表示%>
            <% if post.image.attached? %>
              <%= image_tag post.image, size: "150x150", class:"card-img-top" %>
            <% end %>
            <div class="card-body">
              <%#店舗名%>
              <h5 style="color:black;"><%= post.restaurant.name %></h5>
              <%#投稿内容%>
              <%= simple_format(post.content, style:"color:black;") %>
              <%#リンク%>
              <%= Rinku.auto_link(post.link, :all, 'target="_blank"').html_safe %><br>
              <%#ジャンル%>
              <p style="color:black;"><%= post.restaurant.genre %></p>
            </div>
            <font class="text-right" size="2" style="color:black;">
              <%#投稿日時%>
              <%= post.created_at.strftime('%Y/%m/%d %H:%M') %>
            </font>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>