<div class="container">
  <div class="row d-flex">
    <h5 class="col-sm-3 mt-3">投稿一覧</h5>
    <%#投稿があれば、全削除ボタン表示%>
    <% if @posts.exists? %>
      <div class="col-sm-9 my-3 text-right">
        <%= link_to "全投稿を削除する", destroy_all_restaurant_posts_path, method: :delete, "data-confirm" => "本当に全ての投稿を削除しますか？", class:"btn btn-danger" %>
      </div>
    <% end %>
  </div>
  <div class="row justify-content-center">
    <div class="post-index">
      <% @posts.each do |post| %>
        <%= link_to restaurant_post_path(post) do %>
          <div class="card mb-2" style="width: 20rem; background-color:#fffafa;"><%#snow
            <%#写真があれば表示%>
            <% if post.image.attached? %>
              <%= image_tag post.image, size: "150x150", class:"card-img-top" %>
            <% end %>
            <div class="card-body">
              <%#店舗名%>
              <h5 style="color:black;"><%= post.restaurant.name %></h5>
              <%#投稿内容%>
              <%= simple_format(post.content, style:"color:black;") %>
              <%#リンク%>
              <%= Rinku.auto_link(post.link, :all, 'target="_blank"').html_safe %><br>
              <%#予約ステータス%>
              <% if post.reservation_status == true %>
                <p class="text-success text-center">予約受付中</p>
              <% else %>
                <p class="text-muted text-center">予約停止中</p>
              <% end %>
            </div>
            <font class="text-right" size="2" style="color:black;">
              <%#投稿日時%>
              <%= post.updated_at.strftime('%Y/%m/%d %H:%M') %>
            </font>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <%#ページネーション%>
  <div class="row justify-content-center">
    <%= paginate @posts, theme: 'twitter-bootstrap-4' %>
  </div>
</div>