<div class="container">
  <h5 class="m-4">編集</h5>
  <div class="row justify-content-center">
    <%= form_with model: @restaurant, url:restaurant_registration_path, method: :patch do |f| %>
    <%= render "restaurant/shared/error_messages", resource: resource %>

    <div class="form-group row">
      <%= f.label :店舗名, class:"col-sm-5 text-right" %>
      <%= f.text_field :name, class:"col-sm-7 form-control" %>
    </div>

    <div class="form-group row">
      <%= f.label :〒, class:"col-sm-5 text-right" %>
      <%= f.text_field :zipcode, class:"col-sm-7 form-control", placeholder:"0000000" %>
    </div>

    <div class="form-group row">
      <%= f.label :住所, class:"col-sm-5 text-right" %>
      <%= f.text_field :address, class:"col-sm-7 form-control", placeholder:"東京都○○区○○町0-0" %>
    </div>

    <div class="form-group row">
      <%= f.label :TEL,"TEL", class:"col-sm-5 text-right" %>
      <%= f.text_field :phone_number, class:"col-sm-7 form-control", placeholder:"0000000000" %>
    </div>

    <div class="form-group row">
      <%= f.label :Webサイト, class:"col-sm-5 text-right" %>
      <%= f.text_field :home_page, class:"col-sm-7 form-control", placeholder: "リンクをはって下さい" %>
    </div>

    <div class="form-group row">
      <%= f.label :営業時間, class:"col-sm-5 text-right" %>
      <%= f.text_field :business_hours, class:"col-sm-7 form-control" %>
    </div>

    <div class="form-group row">
      <%= f.label :定休日, class:"col-sm-5 text-right" %>
      <%= f.text_field :regular_holiday, class:"col-sm-7 form-control" %>
    </div>

    <div class="form-group row">
      <%= f.label :"E-mail", class:"col-sm-5 text-right" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"col-sm-7 form-control" %>
    </div>

    <div class="form-group row">
      <%= f.label :パスワード, class:"col-sm-5 text-right" %>
      <%= f.password_field :current_password, autofocus: true, placeholder:"現在のパスワードを入力", class:"col-sm-7 form-control" %>
    </div>

    <div class="form-group row">
      <%= f.label :お店の写真 %>
      <%= f.file_field :image %>
    </div>

    <div class="actions text-center">
      <%= f.submit "編集", class:"btn btn-success" %>
    </div>
    <% end %>
  </div>
</div>
<%= link_to "Back", :back %>
