<div class="container">
  <h5 class="m-4">飲食店新規登録</h5>
  <div class="row justify-content-center">
    <%= form_with model: @restaurant, url: restaurant_registration_path do |f| %>
      <%= render "restaurant/shared/error_messages", resource: resource %>
        <div class="form-group">
          <%= f.label :店名 %>
          <%= f.text_field :name, class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :ジャンル %>
          <%= f.select :genre, [["カフェ・スイーツ"], ["和食"], ["洋食"], ["中華"], ["アジア・エスニック"], ["イタリアン"], ["カレー"], ["居酒屋・バー"],["その他"]], { include_blank: "選択してください"}, class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :郵便番号 %>
          <%= f.text_field :zipcode, placeholder:"0000000", class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :住所, "住所(数字とハイフンは全角)" %>
          <%= f.text_field :address, class:"form-control", placeholder:"東京都○○区○○町０－０－０" %>
        </div>
        <div class="form-group">
          <%= f.label :TEL,"TEL" %>
          <%= f.text_field :phone_number, class:"form-control", placeholder:"0000000000" %>
        </div>
        <div class="form-group">
          <%= f.label :営業時間 %>
          <%= f.time_select :start_time, :minute_step => 30, class:"form-control" %>～<%= f.time_select :finish_time, :minute_step => 30, class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :"E-mail" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :パスワード %>
          <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder:"6文字以上" %>
        </div>
        <div class="form-group">
          <%= f.label :パスワード（確認） %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", placeholder:"6文字以上" %>
        </div>
        <div class="actions text-center">
          <%= f.submit "登録", class:"btn btn-success" %>
        </div>
    <% end %>
  </div>
  <div class="row justify-content-center m-2">
    <p>新規登録がお済みの場合は<%= link_to "こちら", restaurant_session_path %></p>
  </div>
</div>