<div class="suv-nav text-center mx-3 my-1">
  <%#ログイン中の飲食店名 %>
  <div class="login customer_name ml-auto">
    <%= current_restaurant.name %>
  </div>
</div>
<li class="nav-item mr-2 my-1">
  <%= link_to '諸注意', restaurant_attention_path, class:"btn btn-sm btn-dark" %>
</li>
<li class="nav-item mr-2 my-1">
  <%= link_to 'マイページ', restaurant_root_path, class:"btn btn-sm btn-dark" %>
</li>
<li class="nav-item mr-2 my-1">
  <%= link_to '通知一覧', restaurant_notifications_path, class: "btn btn-sm btn-dark" %>
</li>
<li class="nav-item mr-2 my-1">
  <%= link_to '予約一覧', restaurant_reserve_path, class:"btn btn-sm btn-dark" %>
</li>
<li class="nav-item mr-2 my-1">
  <%= link_to '新規投稿', new_restaurant_post_path,class: "btn btn-sm btn-dark" %>
</li>
<li class="nav-item mr-2 my-1">
  <%= link_to '投稿一覧', restaurant_posts_path, class:"btn btn-sm btn-dark" %>
</li>
<li class="nav-item mr-2 my-1">
  <%= link_to 'ログアウト',destroy_restaurant_session_path, method: :delete, class:"btn btn-sm btn-dark" %>
</li>