<%#飲食店用ヘッダー%>
<div class="suv-nav text-center mr-2 my-1">
  <%= current_restaurant.name %><%#ログイン中の飲食店名 %>
</div>
<li class="nav-item mr-2 my-1">
  <%= link_to '諸注意', restaurant_attention_path, class:"btn btn-sm btn-dark" %>
</li>
<li class="nav-item mr-2 my-1">
  <%= link_to 'マイページ', restaurant_root_path, class:"btn btn-sm btn-dark" %>
</li>
<li class="nav-item mr-2 my-1">
  <%= link_to '通知一覧', restaurant_notifications_path, class: "btn btn-sm btn-dark" %>
</li>
<li class="nav-item mr-2 my-1">
  <%= link_to '予約一覧', restaurant_reserve_path, class:"btn btn-sm btn-dark" %>
</li>
<li class="nav-item mr-2 my-1">
  <%= link_to '新規投稿', new_restaurant_post_path,class: "btn btn-sm btn-dark" %>
</li>
<li class="nav-item mr-2 my-1">
  <%= link_to '投稿一覧', restaurant_posts_path, class:"btn btn-sm btn-dark" %>
</li>
<li class="nav-item mr-2 my-1">
  <%= link_to 'ログアウト',destroy_restaurant_session_path, method: :delete, class:"btn btn-sm btn-dark" %>
</li>