<!DOCTYPE html>
<html>
  <head>
    <title>WelcomeDining</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header style="background-color:orange;">
      <% if customer_signed_in? %>
        <%= render 'layouts/customer-header' %><%#顧客用ヘッダー%>
      <% elsif restaurant_signed_in? %>
        <%= render 'layouts/restaurant-header' %><%#飲食店用ヘッダー%>
      <% else %>
        <%= render 'layouts/logout-header' %><%#ログアウト用ヘッダー%>
      <% end %>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
