<!DOCTYPE html>
<html>
  <head>
    <title>WelcomeDining</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="sticky-top" style="background-color:#d2b48c;">
      <nav class="navbar navbar-expand-lg text-right navbar-light">
        <div class="logo_area"><%#トップへのリンク付きロゴ%>
          <a class="navbar-brand" href="/"><%= image_tag asset_path('logo.jpg'), class:"logo" %></a>
        </div>
        <%#ハンバーガーメニュー%>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <% if customer_signed_in? %>
              <%= render 'layouts/customer-header' %><%#会員用ヘッダー%>
            <% elsif restaurant_signed_in? %>
              <%= render 'layouts/restaurant-header' %><%#飲食店用ヘッダー%>
            <% else %>
              <%= render 'layouts/logout-header' %><%#ログアウト用ヘッダー%>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
